<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fr.xjet.tweetyhunting">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />


    <application
        android:name=".TweetyHuntingApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_tweetyhunting"
        android:label="@string/app_name"
        android:theme="@style/Theme.Tweethunting"
        android:hardwareAccelerated="true">
        <activity
            android:name=".TweetingActivity"
            android:launchMode= "singleTask"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="stateHidden"
            android:label="@string/app_name" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="oauth" android:host="tweethunting"/>
            </intent-filter>

        </activity>


        <activity
            android:name=".AboutActivity"
            android:launchMode= "singleTask"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="stateHidden"
            android:label="@string/app_name" >
        </activity>

        <meta-data
            android:name="com.crashlytics.ApiKey"
            android:value="e54a8963ab6d7edabff9d8fc53adb19eac370a96" />
        <meta-data android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>
</manifest>
